BOT_TOKEN=8203702420:AAHhgk7dpkbJ6MbOe1lFP_tJF8PhKiO4lQo
DATABASE_URL=dating.db
MEETING_PRICE_STARS=10
DEFAULT_STARS_BALANCE=100
ADMIN_IDS=6691450795
LOG_LEVEL=INFO
YANDEX_TELEMOST_OAUTH_TOKEN=
YANDEX_TELEMOST_ENABLED=true
USE_JITSI=false
